@import "tailwindcss";

@theme {
  --color-main-bg: #121826;
  --color-card-bg: #212936;
  --color-main-heading: #e5e7eb;
  --color-card-heading: #d2d5da;
  --color-paragraph: #9da3ae;
  --color-icon1-bg: #fceed8;
  --color-icon2-bg: #dee9fc;
  --color-icon3-bg: #fceed8;
  --font-Outfit: "Outfit", sans-serif;
}
